asgiref       
certifi         
chardet          
Django           
dnspython        
idna             
joblib           
nltk             
numpy            
oauthlib         
pip              
pymongo          
PySocks          
pytz             
requests         
requests-oauthlib
scikit-learn     
scipy            
setuptools       
six              
sklearn          
sqlparse         
tweepy           
urllib3           
